<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Code-It - A Search Engine Based on DSA Problems</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      href="/search-code-svgrepo-com.svg"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <section class="header">
      <div class="header-container">
        <div class="header-text">
          <div class="header-text-1">
            <h1>Code</h1>
          </div>
          <div class="header-text-2">
            <h1>it.</h1>
          </div>
        </div>
        <div class="header-logo"></div>
      </div>
    </section>

    <section class="header-laptop">
      <div class="header-laptop-container">
        <div class="header-laptop-1">
          <div class="header-laptop-1-container">
            <div class="header-laptop-1-1">Stuck ?</div>
            <!-- <div class="header-laptop-1-2">
              <div>?</div>
              <div class="header-laptop-logo-2"></div>
            </div> -->
          </div>
        </div>
        <div class="header-laptop-2">
          <h1>
            I'm
            <span class="auto-type" style="color: #f7fe72 !important"></span>
          </h1>
        </div>
        <div class="header-laptop-4">
          <div class="header-laptop-6-container">
            <div class="header-laptop-1-1">Code</div>
            <div class="header-laptop-1-2">
              <div>it.</div>
              <div class="header-laptop-logo"></div>
            </div>
          </div>
        </div>
        <div class="header-laptop-5">
          <div class="header-laptop-5-container">
            <h1>Search It.</h1>
          </div>
        </div>
        <div class="header-laptop-6"></div>
      </div>
    </section>

    <section class="search-form">
      <form>
        <input
          type="text"
          name="question"
          id="question"
          autocomplete="off"
          autofocus="on"
        />

        <button type="submit">
          <!-- <div class="search">
            <img src="./search-code-svgrepo-com.svg" width="40px" alt="" />
          </div> -->
        </button>
      </form>
    </section>

    <section class="loading-div">
      <div>
        <img src="./Dual Ball-1s-200px.svg" alt="" />
      </div>
    </section>

    <section class="no-results">
      <h1>Oops! Try searching something else</h1>
    </section>

    <section class="results">
      <div class="question">
        <div class="title">
          <a href="#" target="_blank"></a>
        </div>
        <div class="body">
          <p></p>
        </div>
      </div>
      <div class="question">
        <div class="title">
          <a href="#" target="_blank"></a>
        </div>
        <div class="body">
          <p></p>
        </div>
      </div>
      <div class="question">
        <div class="title">
          <a href="#" target="_blank"></a>
        </div>
        <div class="body">
          <p></p>
        </div>
      </div>
      <div class="question">
        <div class="title">
          <a href="#" target="_blank"></a>
        </div>
        <div class="body">
          <p></p>
        </div>
      </div>
      <div class="question">
        <div class="title">
          <a href="#" target="_blank"></a>
        </div>
        <div class="body">
          <p></p>
        </div>
      </div>
      <div class="question">
        <div class="title">
          <a href="#" target="_blank"></a>
        </div>
        <div class="body">
          <p></p>
        </div>
      </div>
    </section>

    <section class="footer">
      <div class="footer-container">
        <a
          href="https://www.linkedin.com/in/devashree29/"
          target="_blank"
          class="footer-link link-1"
          ><img src="/icons8-linkedin.svg" alt=""
        /></a>
        <a href="mailto: devachaturvedi29@gmail.com" class="footer-link link-2"
          ><img src="/icons8-mail-50.png" alt=""
        /></a>
      </div>
      <div class="copy-container">&copy; 2024 Made by Devashree</div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

    <script src="https://cdn.jsdelivr.net/npm/gsap"></script>

    <script>
      gsap.fromTo(
        ".header-laptop-1",
        { x: -800, rotation: 40 },
        { x: 0, rotation: 0, duration: 2, ease: "expo.out" }
      );
      gsap.fromTo(
        ".header-laptop-4",
        { x: 2000, rotation: -60 },
        { x: 0, rotation: 0, duration: 2, delay: 1, ease: "expo.out" }
      );
      gsap.fromTo(
        ".header-laptop-5",
        { y: -800 },
        { y: 0, duration: 2, delay: 0.5, ease: "expo.out" }
      );
      gsap.fromTo(
        ".header-laptop-6",
        { y: -800 },
        { y: 0, duration: 2, delay: 2, ease: "expo.out" }
      );
      gsap.fromTo(
        ".header-laptop-2",
        { y: -800, rotation: 30 },
        { y: 0, rotation: 0, duration: 2, delay: 2, ease: "bounce.out" }
      );
    </script>

    <script>
      let typed = new Typed(".auto-type", {
        strings: ["Coding^500", "Sleeping^500", "Eating^500"],
        typeSpeed: 150,
        backSpeed: 150,
        loop: true,
        cursorChar: "_",
      });
    </script>

    <script>
      const form = document.querySelector("form");
      const questionElement = form.question;
      const resultSection = document.querySelector(".results");

      const loadingSection = document.querySelector(".loading-div");
      const questionLinks = document.querySelectorAll(".title");
      const questionText = document.querySelectorAll(".body");
      const noResultsDiv = document.querySelector(".no-results");
      // console.log(questionLinks);
      // console.log(questionText);
      form.addEventListener("submit", async (e) => {
        e.preventDefault();

        loadingSection.style.display = "block";
        resultSection.style.display = "none";
        noResultsDiv.style.display = "none";

        for (let i = 0; i < questionLinks.length; i++) {
          questionLinks[i].querySelector("a").innerHTML = "";
          questionLinks[i].querySelector("a").setAttribute("href", "#");
          questionText[i].querySelector("p").innerHTML = "";
        }
        const query = questionElement.value;

        try {
          //   console.log("HELLO");
          const res = await fetch(`/search?query=${query}`, { method: "GET" });
          const data = await res.json();

          loadingSection.style.display = "none";

          if (data.length === 0) {
            noResultsDiv.style.display = "block";
          } else {
            resultSection.style.display = "grid";
            for (let i = 0; i < questionLinks.length; i++) {
              questionLinks[i].querySelector("a").innerHTML = data[i].title;
              questionLinks[i]
                .querySelector("a")
                .setAttribute("href", `/question/${data[i].id}`);
              questionText[i].querySelector("p").innerHTML = data[i].problem;
            }
          }

          console.log(data);
        } catch (error) {
          alert(error);
        }
      });
    </script>
  </body>
</html>
